@font-face {
    font-family: 'isle_body_personal_usemedium';
    src: url('fonts/islebodyme_personal-webfont.woff2') format('woff2'),
    url('fonts/IsleBodyMe_PERSONAL.ttf') format('ttf'),
    url('fonts/islebodyme_personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    color: #333333;
    background-color: #ffffff;
}
.adv{
    text-align: center;
}
#img-adv{
    padding: 15px 0 15px 0;
}
/*START NAVBAR*/
.navbar{
    background-color: #4297b5;
    color: #ffffff;
    min-height: 39px;
    position: relative;
    padding-left: 15%;
}

.container{
    height: 20px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;

}
.arrow{
    padding-left: 5px;
    width: 8px;
    height: 8px;
}
.arrow-rotated{
    transform: rotate(180deg);
    padding-left: 0;
    padding-right: 5px;
    width: 8px;
    height: 8px;
}


#first-menu li{
    font-size: 10px;
    float: left;
    list-style-type: none;
    min-height: 15px;
    border-right: 1px solid #64bcdc;
    text-transform: uppercase;
}
#first-menu li:nth-child(1),
#first-menu li:nth-child(2),
#first-menu li:nth-child(3){
    display: none;
}

#first-menu li:last-child{
    border-right: none;
}

#first-menu li a:link,
#first-menu li a:visited{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 2px 10px 0 6px;
    text-align: left;
}

#first-menu li a:hover{
    background-color: #ffffff;
    color: #333333;
}

.dossier-button{
    text-decoration: none;
    border: 0;
    background-color: #4297b5;
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
}

.dossier-button:hover{
    background-color: #ffffff;
    color: #333333;

}

.dossier-click{
    display: none;
    position: absolute;
    background-color: #e8f2f6;
    z-index: 1000;
    width: 70%;
    padding: 20px 0 20px 30px;
}
.dossier-click h2{
    color: black;
    padding: 0 0 10px 10px;
}

#dossier-list li{
    font-size: 20px;
    float: left;
    list-style-type: none;
    min-height: 15px;
}
#dossier-list li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 10px;
}

.annunci-button{
    text-decoration: none;
    border: 0;
    background-color: #4297b5;
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
}
.annunci-button:hover{
    background-color: #ffffff;
    color: #333333;

}

.annunci-click{
    display: none;
    position: absolute;
    background-color: #e8f2f6;
    z-index: 1000;
    width: 70%;
    padding: 20px 0 20px 30px;
}

#annunci-list li{
    font-size: 20px;
    float: left;
    list-style-type: none;
    min-height: 15px;
}
#annunci-list li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 10px;
}



/*END NAVBAR*/

/*TITOLO*/
.main-container{
    width: 70%;
    margin: 0 auto 0 auto;
    position: relative;
}


#facebook{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#twitter{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#sun{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


.social{
    width: 100%;
    margin: 0 auto;
    height: 20px;
}

#second-menu li{
    float: left;
    min-height: 20px;
    list-style-type: none;
}

#third-menu li a:link,
#third-menu li a:visited,
#second-menu li a:link,
#second-menu li a:visited {
    color:#333333;
    text-decoration: none;
    padding: 10px 0 0 12px;
    display: block;
}

#second-menu li a:hover,
#third-menu li a:hover{
    color:#333333;
}

#second-menu li a.meteo{
    padding-left: 45px;
}

#third-menu{
    float: right;
    list-style-type: none;
}

.nome{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #0c0c5e;
    font-family: "isle_body_personal_usemedium", Helvetica Neue, Helvetica, sans-serif;
    font-size: 26px;
    width: 242px;
    position: relative;
}
.nome h1{
    height: 45px;
    font-size: 45px;
}

.nome span{
    color: #595757;
    font-size: 10px;
    vertical-align: top;
    float: right;

}

.check-list-button{
    display: none;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    position: absolute;
    top: 25px;
    background-color: white;
}

.cross-button{
    display: none;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    position: absolute;
    top: 25px;
    z-index: 1000;
    background-color: white;
}
.cross-button img{
    width: 28px;
    height: 28px;
}

#user-symbol{
    display: none;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 25px;
    right: 0;
}


.citta{
    width: 100%;
    border-top: 1px solid #b6b3b3;
    border-bottom: 1px solid #b6b3b3;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.citta div{
    flex-basis: 12.5%;
}
.citta a:link,
.citta a:visited{
    color: #595757;
    text-decoration: none;
}
.citta li a:hover{
    background-color: #ffffff;
    color: #333333;
}
.citta div.lente{
    text-align: end;
    flex-shrink: 50;
}


.lente-img{
    width: 20px;
    height: 20px;
}

.cambia-edizione{
    visibility: hidden;
    display: flex;
    background-color: #F3F3F3;
    position: absolute;
    top: 70px;
    width: 100%;
}
.cambia-edizione div{
    flex-basis: 68%;
    text-align: end;
}
.cambia-edizione div:last-child{
    flex-shrink: 20;
}

.edizione-button{
    text-decoration: none;
    border: 0;
    cursor: pointer;
    font-size: 14px;
}

/*END TITOLO*/

/*START MAIN CONTENT*/
.content-main{
    border-bottom: 1px solid #4297b5;
    height: auto;
    display: flex;
}

.content-main a:link,
.content-main a:visited{
    color: #333333;
    text-decoration: none;
}
.content-main a:hover{
    color: #4297b5;
}


.central-content{
    padding-top: 50px;
    flex-basis: 68%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-right: 2%;
}

.central-content div{
    width: 32%;
    border-bottom: 1px solid #b6b3b3;
    padding-bottom: 2%;
    padding-top: 2%;


}
.central-content div:first-child{
    width: 100%;
    border-bottom: none;
}
.central-content div:nth-child(3),
.central-content div:nth-child(6){
    padding-left: 2%;
    padding-right: 2%;
}
.central-content img{
    width: 100%;
}
.central-content a.other-news{
    color: #4297b5;
    text-decoration: none;
}
.central-content div:last-child{
    margin-left: auto;
    border-bottom: none;
    text-align: right;
}
.central-content h4{
    display: inline;
}
.central-content img.right-arrow {
    width: 20px;
}
.right-arrow{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.right-content{
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 28%;
    padding-left: 2%;
}
.right-content div{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;
}
.right-content img{
    width: 100%;
}
.right-content h3{
    background-color: #F4F4F4;
    padding-bottom: 5%;
}

/*START LOCAL NEWS*/
.local-news-title a.local-news{
    color: #4297b5;
    text-decoration: none;
}
.local-news-title a.local-news h2{
    border-bottom: 1px solid #b6b3b3;
    padding-top: 1%;
    padding-bottom: 1%;
}


.local-news-container{
    height: auto;
    display: flex;
    border-bottom: 2px solid #4297b5;
}

.local-news-container a:link,
.local-news-container a:visited{
    color: #333333;
    text-decoration: none;
}
.local-news-container a:hover{
    color: #4297b5;
}

.central-content-2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 68%;
    padding-right: 2%;
}
.central-content-2 div{
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #b6b3b3;
}
.central-content-2 img{
    float: left;
}
.central-content-2 h3{
    display: inline;
}

.central-content-2 img.right-arrow{
    float: none;
}

.central-content-2 div:last-child{
    border-bottom: none;
}

.right-content-2{
    display: flex;
    flex-flow: column nowrap;
    width: 28%;
    padding-left: 2%;
}

.right-content-2 div{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}
.right-content-2 h3{
    background-color: #F4F4F4;
    padding-bottom: 5%;
}
.right-content-2 img{
    width: 100%;
}

.video{
    background-color: #333333;
    color:#ffffff;
}
.video div{
    width: 90%;
    margin: 0 auto;
}
.video h3{
    background-color: #333333;
}

.video a:link,
.video a:visited{
    color: #ffffff;
    text-decoration: none;
}
.video a:hover{
    color: #4297b5;
}

.video div.all-regional-news-container{
    text-align: right;
}

.video img.right-arrow{
    width: 20px;
    padding-left: 5px;
}

#last-video{
    border-bottom: 1px solid #b6b3b3;
}

.right-content-2 a.all-regional-news:hover{
    color: #ffffff;
}
.other-news-container{
    text-align: right;
}
.central-content-2 a.other-news{
    text-decoration: none;
    color: #4297b5;
}

footer{
    color: #ffffff;
    background-color: #4D4D4D;
    font-size: 12px;
    position: relative;
    margin-top: 50px;
}
.footer-container{
    width: 70%;
    margin: 0 auto;
}

.footer-menu-container{
    height: 16px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.footer-menu li{
    float: left;
    min-height: 15px;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #ffffff;
}

.footer-menu li:first-child{
    padding-left: 0;
}
.footer-menu li:last-child{
    border-right: none;
}

.footer-menu li a:link,
.footer-menu li a:visited{
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: left;
}
.footer-menu li a:hover{
    text-decoration: underline;
}

.sede{
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}

.copy{
    padding-top: 20px;
    padding-bottom: 25px;
}


@media screen and (max-width: 768px){
    .adv{
        display: none;
    }
    .navbar{
        min-height: 2px;
    }
    .container{
        height: 2px;
    }
    #first-menu{

        position: absolute;
        left: 0;
        top: 110px;
        z-index: 1000;
        width: 100%;
        font-family: Helvetica Neue, Helvetica, sans-serif;
    }
    #first-menu li{
        float: none;
        border-right: none;
        font-size: 16px;
        border-bottom: 1px solid #b6b3b3;
    }
    #first-menu li:nth-child(1),
    #first-menu li:nth-child(2){
        display: block;
    }



    #first-menu li a:link,
    #first-menu li a:visited,
    #first-menu li a:hover{
        color: black;
        background-color: #ffffff;
        padding: 10px 10px;
        text-transform: capitalize;
    }
    #first-menu li a:nth-child(1){
        color: #4297b5;
    }
    .dossier-button{
        font-size: 16px;
        width: 100%;
    }
    .annunci-button{
        font-size: 16px;
        width: 100%;
    }

    .main-container{
        width: 95%;
    }
    .social{
        display: none;
    }
    .check-list-button{
        display: block;
    }


    .nome{
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #user-symbol{
        display: block;
    }

    .cambia-edizione{
        visibility: visible;
    }
    .citta{
        visibility: hidden;
        flex-flow: column;
        align-items: flex-start;
        border-top: none;
        border-bottom: none;
        padding-top: 20px;

    }
    .citta-display{
        visibility: visible;
    }
    .citta div{
        width: 100%;
        padding: 5px 0;
        z-index: 900;
        text-transform: uppercase;
        font-size: 12px;
        background-color: #F3F3F3;
    }
    .citta div:nth-child(1){
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .citta div:nth-child(7){
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .citta a:link,
    .citta a:visited{
        color: #4297b5;
    }
    .citta a:hover{
        color: white;
        background-color: #4297b5;
    }

    .citta div.search,
    .citta div.lente{
        display: none;
    }

    .content-main{
        display: block;
    }

    .central-content{
        display: block;
    }
    .central-content img.main-news-imgs{
        display: none;
    }
    .central-content div{
        width: 100%;
    }

    .central-content div:nth-child(3),
    .central-content div:nth-child(6){
        padding-left: 0;
        padding-right: 0;
    }

    .right-content{
        display: block;
    }
    .right-content div{
        padding-top: 0;
    }



    .local-news-container{
        display: block;
        border-bottom: none;
    }

    .central-content-2{
        display: block;
        width: 100%;
    }
    .central-content-2 img{
        float: none;
        display: none;
    }
    #local-news-img-principle{
        width: 100%;
        display: block;
    }
    .right-content-2{
        display: block;
        width: 100%;
        padding-left: 0;
    }

    .video div.all-regional-news-container{
        text-align: center;
    }

    .footer-container{
        width: 95%;
    }


}